<{_element}div{/} id="{$_id}" class="{_ui}ui{/} {$class} {_class}{/}" style="{$style}" {$attributes}>{$Menu}
{$Content}
{Container}
<div class="ui vertical segment" id="{$_id}">
  <div class="ui atk-overflow-auto">
    {$table_placeholder}
    {$Content}
  </div>
</div>{/Container}</{_element}div{/}>
